// Color Variable section
    $primary-color: #008080;
    $secendory-color: #ffffff;
    $tarsiary-color: #2e2e2e;
    $bg-color1: #edebe7;
    $bg-color2: #242424;

// Font size Variable section

$title: 32px;
$sub-title: 22px;
$para: 17px;

// Font Family
 $main-font: 'Poppins';
 $sub-font: sans-serif;
 

 //Transition Variable
 $transition : all 0.4s linear;