@media screen and (max-width: 995px) {
  .top .nav-link {
    display: inline-block !important;
  }
  #about .details-site {
    margin-top: 2rem;
  }
  #about .details-site p {
    font-size: 1.3rem;
  }
  #services .card {
    margin-top: 2rem;
  }
  #skills .card {
    width: 31rem;
  }
  #galary .btn_sec .nav-item {
    font-size: 1rem !important;
    margin: 0.4rem !important;
    padding: 1rem !important;
    color: #2e2e2e;
  }
  #galary .grid {
    margin-top: 2rem;
  }
  #testimonial .card {
    margin-top: 2rem;
  }
  #contact iframe {
    width: 30rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

.section-margin {
  margin: 5rem 0rem;
}

.section-padding {
  margin: 4.5rem 0rem;
}

body {
  background-color: #008080;
}

img {
  width: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.top {
  position: fixed;
  width: 100%;
  line-height: 4rem;
  z-index: 999;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.top .navbar {
  margin: 1rem 0;
}

.top .navbar-brand {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}

.top .navbar-brand span {
  color: #008080;
  letter-spacing: 0.2rem;
}

.top .nav-item {
  margin-right: 1rem;
}

.top .nav-item .nav-link {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  position: relative;
}

.top .nav-item .nav-link::after {
  content: '';
  position: absolute;
  height: 0.4rem;
  width: 0%;
  background-color: #008080;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.top .nav-item .nav-link:hover:after {
  width: 100%;
}

.top .navbar-toggler-icon {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 4rem;
}

.sticky {
  background-color: crimson;
}

#home {
  background-color: #242424;
  color: #ffffff;
  background-attachment: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}

#home .main {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#home .main p {
  font-size: 17px;
  letter-spacing: 0.4rem;
}

#home .main h1 {
  font-size: 6rem;
  font-weight: 500;
  color: #008080;
}

#home .main h3 {
  font-size: 22px;
}

#home .main .btn {
  margin-top: 2rem;
  margin-top: 2rem;
}

#home .main .btn .nav-link {
  font-size: 17px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.2rem;
  border: 0.3rem solid #008080;
  padding: 1rem 2.6rem;
  position: relative;
}

#home .main .btn .nav-link::after {
  content: '';
  position: absolute;
  height: 0%;
  width: 0%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#home .main .btn .nav-link:hover:after {
  z-index: -1;
  height: 100%;
  width: 100%;
}

#home .main .btn .nav-link::after {
  background-color: #008080;
}

#about .title h1 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

#about .title h1::after {
  content: '';
  position: absolute;
  height: 0.4rem;
  width: 70%;
  background-color: #2e2e2e;
  left: 0;
  bottom: 0;
  margin-bottom: -1rem;
}

#about .img-site {
  max-height: 30rem;
  border: 0.5rem solid #ffffff;
  display: inline-block;
  overflow: hidden;
}

#about .img-site img {
  max-width: 36rem;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#about .img-site:hover img {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

#about .details-site h1 {
  color: #ffffff;
  font-size: 22px;
}

#about .details-site p {
  font-size: 17px;
  text-align: justify;
}

#about .details-site .btn {
  margin-top: 2rem;
}

#about .details-site .btn .nav-link {
  font-size: 17px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.2rem;
  border: 0.3rem solid #008080;
  padding: 1rem 2.6rem;
  position: relative;
}

#about .details-site .btn .nav-link::after {
  content: '';
  position: absolute;
  height: 0%;
  width: 0%;
  left: 0;
  top: 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#about .details-site .btn .nav-link:hover:after {
  z-index: -1;
  height: 100%;
  width: 100%;
}

#about .details-site .btn .nav-link {
  border: 0.4rem solid #2e2e2e;
}

#about .details-site .btn .nav-link::after {
  background-color: #2e2e2e;
}

#services .title h1 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

#services .title h1::after {
  content: '';
  position: absolute;
  height: 0.4rem;
  width: 70%;
  background-color: #2e2e2e;
  left: 0;
  bottom: 0;
  margin-bottom: -1rem;
}

#services .card {
  padding: 1.5rem;
  background-color: #2e2e2e;
  color: #ffffff;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  cursor: pointer;
}

#services .card .icon {
  font-size: 4rem;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#services .card .title {
  margin: 1rem 0;
}

#services .card .title h3 {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

#services .card p {
  text-align: justify;
  font-size: 1.6rem;
}

#services .card:hover {
  -webkit-box-shadow: 5px 5px 15px 17px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 15px 17px rgba(0, 0, 0, 0.3);
}

#services .card:hover .icon {
  color: #008080;
}

#skills .title h1 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

#skills .title h1::after {
  content: '';
  position: absolute;
  height: 0.4rem;
  width: 70%;
  background-color: #2e2e2e;
  left: 0;
  bottom: 0;
  margin-bottom: -1rem;
}

#skills .card {
  padding: 1.5rem;
  -webkit-box-shadow: 5px 5px 15px 17px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 15px 17px rgba(0, 0, 0, 0.3);
  width: 75rem;
}

#skills .card .bar {
  margin: 2rem 0;
}

#skills .card .bar .info {
  margin-bottom: 0.5rem;
}

#skills .card .bar .info span {
  font-size: 1.8rem;
  font-weight: 500;
}

#skills .card .bar .progress-line {
  position: relative;
  height: 1rem;
  width: 100%;
  background-color: #008080;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px rgba(255, 255, 255, 0.8);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px rgba(255, 255, 255, 0.8);
}

#skills .card .bar .progress-line span {
  height: 100%;
  width: 80%;
  background-color: #2e2e2e;
  position: absolute;
  border-radius: 1rem;
}

#skills .card .bar .progress-line span::before {
  position: absolute;
  content: '';
  right: 0;
  top: -1rem;
  height: 0;
  width: 0;
  border: 0.7rem solid transparent;
  border-bottom-width: 0rem;
  border-right-width: 0rem;
  border-top-color: #2e2e2e;
}

#skills .card .bar .progress-line span::after {
  position: absolute;
  content: '80%';
  right: 0;
  top: -3.4rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #2e2e2e;
  padding: 0.2rem 0.8rem;
  border-radius: 0.3rem;
}

#skills .card .bar .progress-line.html span::after {
  content: '90%';
}

#skills .card .bar .progress-line.css span::after {
  content: '85%';
}

#skills .card .bar .progress-line.sass span::after {
  content: '80%';
}

#skills .card .bar .progress-line.bootstrap span::after {
  content: '90%';
}

#skills .card .bar .progress-line.javascript span::after {
  content: '70%';
}

#skills .card .bar .progress-line.jquery span::after {
  content: '75%';
}

#skills .card .bar .progress-line.psd span::after {
  content: '85%';
}

#skills .card .bar .progress-line.html span {
  width: 90%;
}

#skills .card .bar .progress-line.css span {
  width: 85%;
}

#skills .card .bar .progress-line.sass span {
  width: 80%;
}

#skills .card .bar .progress-line.bootstrap span {
  width: 90%;
}

#skills .card .bar .progress-line.javascript span {
  width: 70%;
}

#skills .card .bar .progress-line.jquery span {
  width: 75%;
}

#skills .card .bar .progress-line.psd span {
  width: 85%;
}

#skills .card .bar:first-child {
  margin-top: 0;
}

#galary .title h1 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

#galary .title h1::after {
  content: '';
  position: absolute;
  height: 0.4rem;
  width: 70%;
  background-color: #2e2e2e;
  left: 0;
  bottom: 0;
  margin-bottom: -1rem;
}

#galary .btn_sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#galary .btn_sec .nav-item {
  margin: 0rem 1rem;
  font-size: 17px;
  color: #ffffff;
  background-color: #2e2e2e;
  padding: 1rem 1.6rem;
  cursor: pointer;
}

#testimonial .title h1 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

#testimonial .title h1::after {
  content: '';
  position: absolute;
  height: 0.4rem;
  width: 70%;
  background-color: #2e2e2e;
  left: 0;
  bottom: 0;
  margin-bottom: -1rem;
}

#testimonial .rivew {
  font-size: 1.8rem;
}

#testimonial .rivew .checked {
  color: orange;
}

#contact .title h1 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

#contact .title h1::after {
  content: '';
  position: absolute;
  height: 0.4rem;
  width: 70%;
  background-color: #2e2e2e;
  left: 0;
  bottom: 0;
  margin-bottom: -1rem;
}

#contact .grid input {
  width: 30rem;
  height: 4rem;
  margin-top: 3rem;
  border: none;
  border-bottom: 0.3rem solid #2e2e2e;
  outline: none;
  background-color: transparent;
  font-size: 1.7rem;
  padding: 0.7rem 0;
  color: #2e2e2e;
}

#contact .grid textarea {
  margin-top: 3rem;
  height: 12rem;
  width: 30rem;
  padding: 0.7rem;
  font-size: 1.7rem;
  color: #2e2e2e;
  background-color: transparent;
  outline: none;
  border: 0.3rem solid #2e2e2e;
}

#contact .grid .sub_btn {
  width: 100%;
  border: none;
  padding: 1rem 0rem;
  background-color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  border: 0.4rem solid #ffffff;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

#contact .grid .sub_btn:hover {
  background-color: transparent;
}

#contact .grid ::-webkit-input-placeholder {
  color: #ffffff;
  padding-left: 1rem;
}

#contact .grid :-ms-input-placeholder {
  color: #ffffff;
  padding-left: 1rem;
}

#contact .grid ::-ms-input-placeholder {
  color: #ffffff;
  padding-left: 1rem;
}

#contact .grid ::placeholder {
  color: #ffffff;
  padding-left: 1rem;
}

#contact .wrapper .button {
  display: inline-block;
  margin: 0 0.5rem;
  height: 6rem;
  width: 6rem;
  background-color: crimson;
  border-radius: 5rem;
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  overflow: hidden;
}

#contact .wrapper .icon {
  display: inline-block;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  line-height: 6rem;
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
}

#contact .wrapper .button span {
  font-size: 2rem;
  margin-left: 1rem;
  font-weight: 500;
  color: #ffffff;
}

#contact .wrapper .button:hover {
  width: 19rem;
}

footer {
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 2rem 0rem;
}

footer h3 {
  font-size: 22px;
}
/*# sourceMappingURL=style.css.map */